target/
*.orig
bin/
logs/
.project
.settings
.classpath
.checkstyle
*~
*.log
*.aux
*.dvi
randomForestsTradingKamil.pdf
randomForestsTradingPiotrek.pdf
local.properties
test-output/
*.iml
.idea/
.R*
*.backup
/common-dao/src/test/java/com/turbineam/engine/dao/ControllerDAOPerformanceIT.java
/restool_project/restool_src/report_module/.RData
/restool_project/restool_src/report_module/.Rhistory
